/*
* Theme Colors
*/

// Background
@siteBackground:#F7F4E9;
@siteBackgroundHighlight: lighten(#F7F4E9,20%);

//Headers and Buttons
@hbcolor: #434A48;

body {
    #gradient > .vertical-three-colors(@siteBackgroundHighlight, @siteBackground, 20%, @siteBackground);
}
small {
	color:@grayLight;
}

th,.active,input[type=submit],.pagination a:hover,.date td a:hover {
	background:@hbcolor;
	color:@white
}

select, textarea, input, td, #content, #dashboard, footer {
        #gradient > .vertical-three-colors(lighten(@black, 95%), @white, 8%, @white);
}
/*tr {
	background-position:0 -18px;
}*/


.active, th, header > h1, nav a, input[type=submit] {
	color:@white;
}

input, select, textarea {
	border-color:#ddd
}

h1,h2,h3,h4,h5,h6 {
	border-color:#ddd
}

a {
	color:@grayDark;
        
        &.edit {
            background-image:url(edit.png);
        }
        &.delete {
            background-image:url(trash.png);
        }
}

header {
	background:#313230;
	border-bottom:1px solid #4a4c49;
}


/*nav a:hover {
	background:#383E3C
}
nav .active {
	background:@navbarBackground;
}*/

.box,.box > .utils a {
	background:#fff;
	border-color:#eee
}
.box > h2 {
	background:url(box-h2.png) repeat-x bottom center #fff
}



.ui-state-highlight {
	background:#eee;
	font-size:13px;
	margin:0 0 11px 0;
	position:relative;
}