/*
* Theme Colors
* Here we override some variables of the Bootstrap
*
*/

// Text
@textColor:             @black;

// Links
@linkColor:             #687370;
@linkColorHover:        darken(@linkColor, 15%);

// Navbar
@navbarBackground:                #434A48;
@navbarBackgroundHighlight:       lighten(@navbarBackground,10%);

@navbarText:                      @grayLighter;
@navbarLinkColor:                 lighten(@navbarBackground,30);
@navbarLinkColorHover:            @white;

// Background
@siteBackground: #F7F4E9;
@siteBackgroundHighlight: lighten(@siteBackground,20%);

// Buttons
@primaryButtonBackground:  @linkColor;

// Box
@boxbackground: @white;
@boxhighlight: #eee;

// Highlight
@hightlightcolor: @grayLighter;

body {
    #gradient > .vertical-three-colors(@siteBackgroundHighlight, @siteBackground, 20%, @siteBackground);
}

small {
	color: lighten(@black, 60%);
}

// Brand of the site/app
.navbar-fixed-top .brand  {
    color: lighten(@navbarText, 40%);
    text-shadow: 0 1px 0 darken(@navbarBackgroundHighlight,30%),0 0 30px darken(@navbarBackgroundHighlight,40%) ;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
}

.backset (@a) when (lightness(@a) >= 50%) {
  color: @black;
}
.backset (@a) when (lightness(@a) < 50%) {
  color: @white;
}
.backset (@a) {
  background-color: @a;
}

.date {

     td {
        a {
            &:hover, &.active{.backset (@navbarBackground);}
        }
     }

}

.pagination {
    .active a, a:hover {
        .backset (@navbarBackground);
    }
}

th {.backset (@navbarBackground);}

select, textarea, input, td, #content, #dashboard, footer {
        #gradient > .vertical-three-colors(@boxhighlight, @white, 20%, @white);
}


input, select, textarea {
	border-color: @boxhighlight;
}

h1,h2,h3,h4,h5,h6 {
	border-color: @boxhighlight;
}

.box,.box > .utils a {
	background: @boxbackground;
	border-color: @grayLighter;
}
.box > h2 {
        #gradient > .vertical-three-colors(@white,@white,70%, @boxhighlight);
}

.ui-state-highlight {
	background: @hightlightcolor;
	font-size:13px;
	margin:0 0 11px 0;
	position:relative;
}