// CSS Reset
@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Grid system and page structure
@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";

// Base CSS
@import "type.less";
@import "code.less";
@import "forms.less";
@import "tables.less";

// Components: common
@import "sprites.less";
@import "dropdowns.less";
@import "wells.less";
@import "component-animations.less";
@import "close.less";

// Components: Buttons & Alerts
@import "buttons.less";
@import "button-groups.less";
@import "alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";

// Components: Popovers
/*@import "modals.less";
@import "tooltip.less";
@import "popovers.less";

// Components: Misc
@import "thumbnails.less";
@import "labels.less";
@import "progress-bars.less";
@import "accordion.less";
@import "carousel.less";
@import "hero-unit.less";*/


body { padding-top: 60px; }

#content, #dashboard {
    padding: 18px 30px;
    .border-radius(5px);
    margin-bottom: @baseLineHeight;
}

.navbar-fixed-top .brand  {
    float:right;
    font-weight: bold;
    color: lighten(@linkColor, 40%);
    //text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    text-shadow: 0 1px 0 darken(@navbarBackgroundHighlight,30%),0 0 30px darken(@navbarBackgroundHighlight,40%) ;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
}


// Box 

.box {
    position:relative;
    border:1px solid;
    margin-bottom: 10px;

    h2 {
        .border-radius(5px 0 5px 0);
        padding:2px 10px;
        cursor:move;
    }
    p {
        padding:10px;
    }
}

.utils a {
    position:absolute;
    top:5px;
    right:10px;
    border:1px solid;
    padding:4px 8px;
}

.date {
    th,td {
        text-align:center;
	padding:3px;
    }
    td a {
	display:inline-block;
	padding:3px 8px;
    }
}

label {
    #font > .shorthand(17px, bold);
    small {
        #font > .shorthand(12px, normal);
        color: @grayLight;
        padding-left: 10px;
    }
}


footer {
    .border-radius(5px 10px 10px 5px);
    padding: 14px 30px 4px;
}


.curved, .alert, .box, .utils a {
    .border-radius(5px 0 5px 0);
}

.curved-alt, input, textarea, select, .box, .date td a, .utils a  {
    .border-radius(5px 0 5px 0);
}


/*// Error and Success messages 
.error, .success {
        padding:4px 8px;
}

// Pagination 
.pagination {
        text-align:right;
}
.pagination a, .pagination span {
        display:inline-block;
        margin:0 2px;
        padding:2px 6px;
}*/

@import "colour.less";

// Utility classes
@import "utilities.less"; // Has to be last to override when necessary